<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mapper.UsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wms.entity.Users">
        <id column="id" property="id" />
        <result column="no" property="no" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="batch" property="batch" />
        <result column="strategy" property="strategy" />
        <!--        <result column="phone" property="phone" />-->
        <!--        <result column="role_id" property="roleId" />-->
        <!--        <result column="isValid" property="isvalid" />-->
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, no, name, password, batche,strategy
    </sql>

    <select id="pageCC" resultType="com.wms.entity.Users">
        select * from users ${ew.customSqlSegment}
    </select>
</mapper>
